<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #menu
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar style="font-weight: 800">
      <mat-icon
        aria-label="Ícone Controle"
        fontIcon="space_dashboard"
      ></mat-icon>
      Controle
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>group</mat-icon> Usuários
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a
            mat-list-item
            routerLink="/usuarios/listar"
            routerLinkActive="active"
            >Listar</a
          >
          <a mat-list-item routerLink="/usuarios/cadastrar">Cadastrar</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          tipo="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="menu.toggle()"
        >
          <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
      }
    </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
